{% extends 'baseFront.html.twig' %}

{% block body %}
<h1>Création Articles</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="Create Article" formnovalidate>
{{ form_end(form) }}

{% endblock %}