{% extends 'layouts/base.html.twig' %}
{% block title 'Créer un Article ' %}
{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Création Article</h1>
        {{ include('pages/_form.html.twig') }}
    </div>
</div>

{% endblock %}