{% extends 'baseFront.html.twig' %}
{% block title 'Modifier Article # '~ article.idArticle %}
{% block body %}
    <h1>Modifier Article {{ article.idArticle }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Modifier Article" formnovalidate>
    {{ form_end(form) }}

{% endblock %}