<footer class="container text-center mt-5">
    <hr>
    <p class="text-muted">
       <small>
           &copy; {{ 'now'|date('Y') }} &middot;
           built with <span class="text-danger"> &hearts;</span> by ArtyCamp
       </small>

    </p>

</footer><!-- End Footer -->