{% extends 'base.html.twig' %}

{% block title 'All Articles here' %}

{% block body %}
    <h1>{{ pluralize(pins|length, 'pin') }}</h1>

    {% for pin in pins %}
        <article>
            <h2><a href="/pins"{{ pin.id }}">{{ pin.title }}</a></h2>
            <p>{{ pin.description }}</p>
        </article>
    {% endfor %}
{% endblock %}